/* CSS Document */
img.logo {
  width: auto;
  height: 70px;
}
body {
  padding: 0;
  margin: 0;
  font-family: "sans-serif"
}
.header h1 {
  margin: 0;
  background-color: #6bc04b;
}
.icon-details {
  height: 40px;
  width: 40px;
  display: inline-block;
  /* Other styles here */
}
.icon-operations {
  background: url("../images/operations.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
}
.icon-convert {
  background: url("../images/convert.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
}
.icon-history {
  background: url("../images/history.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
}
.nav__links {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 24vh;
  width: 250px;
  background: #FFFFFF;
  transform: translateY(80px);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  /*border-style: solid;
	border-width: 5px;
	border-color: black;*/
}
.nav__link {
  transition-duration: 0.4s;
  transition: ease-in-out;
  display: flex;
  align-items: center;
  color: #000000;
  filter: invert(98%) sepia(0%) saturate(9%) hue-rotate(162deg) brightness(90%) contrast(93%);
  font-weight: bold;
  font-size: 26px;
  text-decoration: none;
  padding: 12px 15px;
  margin-top: 10px;
  font-family: "Nexa Regular", "Nexa Bold";
  font-style: normal;
  src: url("../NexaRegular.ttf");
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
}
.nav__link > i {
  margin-right: 15px;
}
.nav__link--active {
  color: #000000;
  filter: invert(61%) sepia(56%) saturate(461%) hue-rotate(59deg) brightness(98%) contrast(88%);
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 26px;
  text-decoration: none;
  padding: 12px 15px;
  font-family: "Nexa Regular", "Nexa Bold";
  font-style: normal;
  src: url("../NexaRegular.ttf");
}
.outline {
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #cccccc;
}
.sideInput {
  position: absolute;
  top: 340px;
  left: 10px;
  height: 34vh;
  width: 245px;
  text-align: center;
  font-family: "Nexa Regular", "Nexa Bold";
  font-style: normal;
  src: url("../NexaRegular.ttf");
  color: #666666;
}
div.sideInput div {
  padding-top: 10px;
  position: relative;
  margin: 4px 0;
}
label {
  color: #cccccc;
  position: absolute;
  top: 10px;
  ;
  font-size: 22px;
  margin: 10px;
  padding: 0 10px;
  background-color: white;
  -webkit-transition: top .2s ease-in-out, font-size .2s ease-in-out;
  transition: top .2s ease-in-out, font-size .2s ease-in-out;
}
.active {
  top: -12px;
  font-size: 18px;
}
input[type=text] {
  width: 84%;
  padding: 10px;
  border: 2px solid #cccccc;
  border-radius: 8px;
  font-size: 15px;
  color: #333333;
  /* font-family: "Nexa Regular", "Nexa Bold";
  font-style: normal;
  src: url("../NexaRegular.ttf"); */
}
input[type=text]:focus {
  outline: none;
}
.hold {
  padding-bottom: 10px;
}
.screen {
  position: absolute;
  top: 0px;
  left: 298px;
  height: 86vh;
  width: 1450px;
  transform: translateY(95px);
  text-align: center;
  font-family: "Nexa Regular", "Nexa Bold";
  font-style: normal;
  src: url("../NexaRegular.ttf");
  color: #666666;
  border-radius: 20px;
}
.formStyle {
  padding-bottom: 20px;
}
.textAreaStyle {
  resize: none;
  padding-bottom: 20px;
  /*border: none;*/
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  font-weight: 400;
  max-width: 100%; 
  max-height: 100%;
  font-size-adjust: auto;
}
.pUpdate {
  font-size: 20px;
}
.buttonForm {
  padding-top: 30px;
  padding-bottom: 30px;
}
.leftConvert {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.buttonStyle {
  background: url("../images/downarrow.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  margin-right: 42px;
  margin-left: 31px;
}
.customB {
  transition-duration: 0.4s;
  transition: ease-in-out;
  display: flex;
  align-items: center;
  /*text-align: center;*/
  color: #000000;
  filter: invert(61%) sepia(56%) saturate(461%) hue-rotate(59deg) brightness(98%) contrast(88%);
  /*filter: invert(98%) sepia(0%) saturate(9%) hue-rotate(162deg) brightness(90%) contrast(93%);*/
  font-weight: bold;
  font-size: 26px;
  text-decoration: none;
  padding: 12px 15px;
  margin-top: 10px;
  font-family: "Nexa Regular", "Nexa Bold";
  font-style: normal;
  src: url("../NexaRegular.ttf");
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
}
.middle {
  float: left;
  height: 69vh; 
  width: 360px;
  padding-top: 170px;
  padding-left: 20px;
  padding-right: 20px;
  /*width: 1450px;*/
}
.middle1{
  background: url("../images/rightarrow.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  margin-right: 22px;
  margin-left: 22px;
}

.customMiddle{
  transition-duration: 0.4s;
  transition: ease-in-out;
  display: flex;
  align-items: center;
  /*text-align: center;*/
  color: #000000;
  filter: invert(61%) sepia(56%) saturate(461%) hue-rotate(59deg) brightness(98%) contrast(88%);
  /*filter: invert(98%) sepia(0%) saturate(9%) hue-rotate(162deg) brightness(90%) contrast(93%);*/
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  padding: 12px 10px;
  margin-top: 10px;
  margin-bottom: 390px;
  font-family: "Nexa Regular", "Nexa Bold";
  font-style: normal;
  src: url("../NexaRegular.ttf");
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
}
/*
.buttonStyle {
  font-family: "Nexa Regular", "Nexa Bold";
  font-style: normal;
  src: url("../NexaRegular.ttf");
  font-size: 20px;
  background-color: #66cc33;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  border-style: solid;
  border-color: #66cc33;
  vertical-align: middle;
  right: 30px;
  width: 300px;
  padding-left: 70px;
}
.buttonImage {
  background: url("../images/downarrow.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  display: inline-block;
  position: absolute;
  top: 430px;
  left: 182px;
} */
/*background-color: #66cc33;  */